name: Deploy Application

on:
  workflow_dispatch:
    inputs:
      facility:
        description: >
          Deployment facility Deploy only to the specified facility(s). Put 'ALL'
          for all facilities. | Options: [dev, lcls, facet,
          testfac] Seperate facilties by comma, ex: dev,lcls
        required: true
        type: string
      tag:
        description: 'Docker/Git tag to deploy'
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deployment
    steps:
      - name: Deploy
        run: "Deploying ${{ github.event.inputs.tag }} to ${{ github.event.inputs.facility }}"
